  <% @links.each do |link| %>
    <h3>Name: <%= link.name %></h3>
    <blockquote>
      URL: <%= link.url %>
      <br>
      Description: <%= link.description %>
    </blockquote>
    <br><hr>
  <% end %>


